@media screen and (min-width: 981px) {
  .photoImg {
    width: 100%;
    object-fit: cover;
  }

  .photoImgReviews {
    width: 90%;
    height: 90%;
    object-fit: cover;
  }

  .textInPhoto {
    font-size: 5.6rem;
  }

  .themeButton {
    position: absolute;
    top: 3%;
    right: 3%;
    z-index: 1;
  }

  .page-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr fit-content;
  }

  .page-container>header {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .page-container>header>section>p {
    font-size: 1.3rem;
    max-width: 400px;
  }

  .page-container>main {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25px 1fr;
  }

  .content {
    justify-content: center;
  }

  .divIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  main>fieldset {
    grid-row: 1/2;
    padding-left: 40%;
    align-self: center;
  }

  .contentProject {
    grid-row: 2/3;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 5%;
  }

  article {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(fit-content, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    row-gap: 40px;
    column-gap: 20px;
    align-items: center;
  }

  .parrafos {
    --defining-width: calc(0.82 * (100vw / 2));
    width: var(--defining-width);
    height: fit-content;
    min-width: 300px;
    max-width: 350px;
    border-radius: 6px;
  }

  .text,
  .parrafos>p,
  .parrafos>h3 {
    padding: 7%;
  }

  footer {
    --define-height-footer: calc(0.45 * 100vh);
    width: 100%;
    height: var(--define-height-footer);
  }

  footer {
    width: 80%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  footer>section>h2+p {
    font-size: 1.3rem;
  }

  footer>section>h2+p+p {
    font-size: 1.3rem;
  }

  footer>section>img {
    grid-row: 4/5;
    grid-column: 1/2;
    justify-content: left;
  }

  footer>section>h2+p+p+p {
    grid-row: 4/5;
    grid-column: 2/3;
    justify-content: left;
  }

  footer>section>div {
    grid-row: 5/6;
    grid-column: 3/4;
  }

}