body {
  height: 100vh;
  width: 100vw;
  margin: auto;
}

h1,h2,h3 {
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.hide {
  display: none;
}

.show {
  display: grid;
}

.photoImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photoImgReviews {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.iconImg {
  height: 30px;
  width: auto;
}

.projectImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px 6px 0px 0px;
}

/* define background colors - starts*/
.light {
  --color-bg-first: #f5f8fa;
  --color-bg-header: #a7c0d2;
  --color-bg-section: #a7c0d2;
  --color-bg-article: #d0dde7;
  --color-article-shadow: #a7c0d2;
  --color-bg-second: #a7c0d2;
  --color-base-text-title: #2c3e4e;
  --color-base-text: #31485b;
  --color-base-text-article: #2c3e4e;
  --color-text-in-link: blue;
}

.dark {
  --color-bg-first: #37556d;
  --color-bg-header: #37556d;
  --color-bg-section: #37556d;
  --color-bg-article: #31485b;
  --color-article-shadow: #436986;
  --color-bg-second: #37556d;
  --color-base-text-title: #eaeff4;
  --color-base-text: #eaeff4;
  --color-base-text-article: #eaeff4;
  --color-text-in-link: lightpink;
}

.bgDivFirst {
  background-color: var(--color-bg-first);
}

.bgDivFirst > div > header {
  background-color: var(--color-bg-header);
}

.bgDivFirst > div > header > section {
  background-color: var(--color-bg-section);
}

.bgDivSecond {
  /*footer*/
  background-color: var(--color-bg-second);
  color: var(--color-base-text);
}

/* define background colors end */

.page-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr fit-content;
}

.page-container > header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.page-container > header > picture {
  position: relative;
}

.textInPhoto {
  position: absolute;
  transform: translate(20px, -100%);
  /* translate X,Y */
  width: 80%;
  color: #f9f7f7;
  font-size: 4rem;
}

.page-container > main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

.content {
  /* aboutMe*/
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 6px;
  gap: 10px;

  position: relative;
}

h2 {
  padding-top: 1%;
  padding-left: 5%;
  color: var(--color-base-text-title);
  font-size: 2rem;
}

.contentProject {
  /* my work*/
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 6px;
  gap: 10px;
  padding-top: 6rem;
  padding-bottom: 6rem;

  position: relative;
}

.contentProject > div , article {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

fieldset {
  display:flex;
  flex-direction: row;
  gap: 15px;
  padding-bottom: 10px;
}

.parrafos {
  --defining-width: calc(0.7 * 100vw);
  width: var(--defining-width);
  height: fit-content;
  min-width: 300px;
  max-width: 450px;
  border-radius: 6px;
  box-shadow: var(--color-article-shadow) 2px 2px 4px 2px;
}

 
.text, .parrafos >p,  .parrafos > h3 {
  flex-shrink: 1;
  padding: 5%;
  text-align: justify;
  color: var(--color-base-text);
  font-size: 1rem;
  line-height: 2;
}

.divIcons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 2%;
}

footer {
  --define-height-footer: calc(0.7 * 100vh);
  width: 100%;
  height: var(--define-height-footer);
}

footer {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

footer > section {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer > section > h2 {
 padding: 1rem;
 margin: 0 auto;
}

footer > section > p {
 width: 60%;
 min-width: 200px;
 max-width: 300px;
 margin: 0 auto;
 text-align: justify;
}

footer > section > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding-top: 2rem;
}

/*buttons*/

.themeButton {
  position: absolute;
  top: 4%;
  right: 3%;
  z-index: 1;
  background-color: var(--color-bg-first);

  transition: transform 250ms ease-in-out;
}

.themeButton:hover {
  transform: scale(1.1);
  background-color: var(--color-bg-section);
}

.themeButton:active {
  transform: scale(1.1);
  background-color: var(--color-bg-article);
  color: var(--color-bg-section);
}

a {
  text-decoration: none;
  font-style: italic;
  color: var(--color-text-in-link);
  transition: transform 250ms ease-in-out;
}

a:hover {
  transform: scale(1.05);
}

a:active {
  transform: scale(1.1);
}

/* reviews */

.carousel {
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  height: fit-content;
}

.carousel-inner{
  padding-top: 3rem;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  height: fit-content;
  margin: 0 auto;
}

.carousel-inner > div > img {
  margin: 0 auto;
}

.item {
  display: none;
}

.active {
  display: flex;
}

.animateIn {
  animation: opacity1 1.5s both;
}

@keyframes opacity1 {
  0% {
    opacity: 0;
  }
 
  100% {
    opacity: 1;
  }
}

.animateOut {
  animation: opacity2 0.7s both;
}

@keyframes opacity2 {
  0% {
    opacity: 1;
  }
 
  100% {
    opacity: 0;
  }
}