@media screen and (min-width: 621px) and (max-width: 980px) {
  .photoImg {
    width: 100%;
    object-fit: cover;
  }

  .textInPhoto {
    font-size: 4.5rem;
  }

  .photoImgReviews {
    width: 90%;
    height: 90%;
    object-fit: cover;
  }

  .themeButton {
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 1;
  }

  .page-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto-fit;
  }

  .page-container > header {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .divIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .contentProject {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  article {
    --defining-width: calc(0.75 * (100vw / 2));
    width: var(--defining-width);
    height: fit-content;
   /*  height: calc(var(--defining-width) * 2.1); */
    border-radius: 6px;
    padding-bottom: 30px;
  }

  .projectImg {
    width: var(--defining-width);
    height: calc(var(--defining-width) * 0.3 * 0.7);
    object-fit: cover;
    border-radius: 6px 6px 0px 0px;
  }

  footer {
    --define-height-footer: calc(0.3 * 100vh);
    width: 100%;
    height: var(--define-height-footer);
  }

  footer {
    width: 80%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

 
  footer > section > div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 40px;
    gap: 10px;
  }
}
